body {
    padding-top: 20px;
}

h1 {
    margin-bottom: 30px;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
}

#master {
    z-index: 1070;
}

.passwords td:first-child .btn.btn-info {
    display: block;
    margin-bottom: 5px;
}

#master-password {
    width: 520px;
}

footer {
    border-top: 1px solid #DDD;
    padding: 5px 10px 3px 10px;
    background-color: #F9F9F9;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer ul li {
    display: inline;
}

.thumbnail .caption {
    text-align: center;
}

.provider {
    padding: 1px;
    border: 1px solid transparent;
}
.current {
    border-color: #333333;
}

.carousel .carousel-inner {
    background-image:    -moz-linear-gradient(top, #cccccc, #ffffff);
    background-image:     -ms-linear-gradient(top, #cccccc, #ffffff);
    background-image:      -o-linear-gradient(top, #cccccc, #ffffff);
    background-image: -webkit-linear-gradient(top, #cccccc, #ffffff);
}

.carousel .item {
    width: 50%;
    height: 340px;
    padding: 13% 40% 6% 10%;
}

.carousel .item#slide1 {
    background: transparent url(../img/yithian.png) no-repeat 90% center;
}

.carousel .item#slide2:before {
    content: url(../img/password-list-screenhost.png);
    position: absolute;
    -moz-transform: translate(30em, -4em) rotate(-10deg);
    -webkit-transform: translate(30em, -4em) rotate(-10deg);

    box-shadow: 6px 6px 10px #cccccc;
}

.carousel .item#slide3 {
    background: transparent url(../img/devices.png) no-repeat 90% center;
}

.carousel .item#slide4 {
    background: transparent url(../img/lovecraft.png) no-repeat 90% center;
}

.carousel .item h1 {
    margin: 0;
    font-size: 400%;
    line-height: 1.5em;
    width: 8em;
}

.carousel .item small {
    display: block;
}
