body {
    padding-top: 20px;
}

h1 {
    margin-bottom: 30px;
}

.navbar img.avatar {
    float: left;
    margin-top: -6px;
    padding-right: 4px;
    height: 32px;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
}

#master {
    z-index: 1070;
}

.passwords td:first-child .btn.btn-info {
    display: block;
    margin-bottom: 5px;
}

#master-password {
    width: 520px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #DDD;
    padding: 5px 10px 3px 10px;
    background-color: #F9F9F9;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer ul li {
    display: inline;
}

.thumbnail .caption {
    text-align: center;
}

.provider {
    padding: 1px;
    border: 1px solid transparent;
}
.current {
    border-color: #333333;
}

/* Home page styles */

.btn small {
    display: block;
}

.main-banner {
    padding-right: 40%;
    background: #eeeeee url(../img/yithian.png) no-repeat center right;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.main-banner h1 {
    font-size: 40px;
    letter-spacing: normal;
    margin: 10px 0;
}

.main-banner p, .main-banner .btn {
    margin: 10px 0;
}

.block-header {
    color: #ffffff;
    background-color: #3f3f3f;
    margin: 0;
    padding: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.row-no-margin {
    margin: 0;
}

.marketing-block {
    clear: both;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.067);
}

.marketing-block.marketing-block-first {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: 1px solid #d4d4d4;
}

.marketing-block.marketing-block-last {
    border-bottom: 1px solid #d4d4d4;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 30px;
}

.marketing-block h3, .marketing-block p,
.marketing-block ul, .marketing-block ol,
.marketing-block blockquote {
    text-align: left;
}

.marketing-block [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 7px;
    margin-right: 7px;
}

.marketing-block img {
    margin: 12px 0;
}

.marketing-block .unstyled {
    margin-left: 12px;
}

.marketing-block-big {
    height: 340px;
    background-image: none;
}

.marketing-block-big img {
    box-shadow: 6px 6px 10px #cccccc;
    border: 1px solid #bbb;
}

.marketing-block-right {
    background-image:    -moz-linear-gradient(-45deg, #ffffff, #eeeeee);
    background-image:     -ms-linear-gradient(-45deg, #ffffff, #eeeeee);
    background-image:      -o-linear-gradient(-45deg, #ffffff, #eeeeee);
    background-image: -webkit-linear-gradient(-45deg, #ffffff, #eeeeee);
}

.marketing-block-left {
    background-image:    -moz-linear-gradient(-45deg, #eeeeee, #ffffff);
    background-image:     -ms-linear-gradient(-45deg, #eeeeee, #ffffff);
    background-image:      -o-linear-gradient(-45deg, #eeeeee, #ffffff);
    background-image: -webkit-linear-gradient(-45deg, #eeeeee, #ffffff);
}

.marketing-block-right h3, .marketing-block-right p {
    padding-right: 12px;
}

.marketing-block-left h3, .marketing-block-left p {
    padding-left: 12px;
}

.marketing-block blockquote {
    margin-top: 75px;
    padding-left: 12px;
    margin-left: 12px;
    border-left: 5px solid #dddddd;
}

.fancy-list li {
    padding-left: 20px;
    margin: 20px 0 20px 20px;
}

.fancy-list li:before {
    content: ' \25CF';
    font-size: 100px;
    color: #bbbbbb;
    float: left;
    margin-top: -6px;
    margin-left: -64px;
}

.alert form {
    text-align: center;
    margin: 0;
}

.content-centered {
    text-align: center;
}

/* Profile styles */
.personal-info {
    margin-bottom: 12px;
}

.personal-info .avatar {
    float: left;
    margin-left: 60px;
}

.personal-info ul {
    margin-left: 180px;
}