body {
    padding-top: 20px;
}

h1 {
    margin-bottom: 30px;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
}

#master {
    z-index: 1070;
}

.passwords td:first-child .btn.btn-info {
    display: block;
    margin-bottom: 5px;
}

#master-password {
    width: 520px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #DDD;
    padding: 5px 10px 3px 10px;
    background-color: #F9F9F9;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer ul li {
    display: inline;
}

.thumbnail .caption {
    text-align: center;
}