body {
    padding-top: 20px;
}

h1 {
    margin-bottom: 30px;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
}

#master {
    z-index: 1070;
}

.passwords td:first-child .btn.btn-info {
    display: block;
    margin-bottom: 5px;
}

#master-password {
    width: 520px;
}